body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
}

h1, h2 {
    color: blue;
    border-bottom: 1px solid #929CA4;
}

p:first-of-type:first-letter  {
    font-size: 30px;
}

.features {
    color: #CC1C0D;
    font-weight: bold;
}

#testimonial1, #testimonial2 {
    margin-left: 50px;
    font-style: italic;
}

a:link {
    color: green;
    text-decoration:overline;
}

a:hover {
    color: purple;
    text-decoration:line-through
}

ul li {
    list-style-type: none;
}

li:first-child {
    color: blue;
}

li:last-child {
    color: red;
}